body{
  margin:0;
  padding:0;
  font-family: "roboto", "Arial", sans-serif;
  font-size:12px;
  color: #444;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.accueil{
  background-image: url("../images/fondAccueil.png");
  background-size: 115%;
  position: relative;
  height: 100vh;
  z-index: -15000;
}

.container{
  width:960px;
  margin:0 auto;
}

#logo{
  width: 150px;
}

nav{
  display: flex;
}

.menu{
  background:#000;
  padding: 10px;
}

ul.ulMenu{
  list-style:none;
  justify-content: space-around;
  margin:0;
  padding-right: 50px;
}

a{
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

li{
  padding: 20px 50px 0px 40px;
  font-size:15px;
  display: inline-block;
  flex-direction: row;
  background: black;
}


.playButton{
  color: #fff;
  font-size: 30px;
  padding: 0px 0px 100px 0px;
  margin: 0 auto;
  z-index: 0;
}

.play{
  background: #000;
  text-align: center;
  padding: 10px;
}

#rules, #story{
  width: 350px;
  padding: 65px;
}

.text{
  display: flex;
  flex-wrap: wrap;
  background-image: url("../images/pancartes-bois.jpg");
  border-radius: 20px;
}

h2{
  color: white;
  width: 200px;
  margin: 0 auto;
  border-radius: 40px;
}

p.story, p.rules{
  color: #FFF;
}


div.pirateLogo{
  height : 100vh;
}

img.pirateLogo{
  z-index: 10;
  width: 400px;
  padding: 10px 0px;
}

.game{
  width: 960px;
  height: 960px;
  background-color: #000;
}

ul.alphabet{
  display: flex;
  margin: 0 auto;
  padding: 0px;
  justify-content: space-around;
  list-style-type: none;
}

li.alphaLetter{
  background: black;
  color: white;
  font-size: 17px;
  width: 25px;
  height: 25px;
  padding: 3px;
  text-align: center;
  margin: 1px;
}

li.alpahaLetter:hover{
  background-color: #6c472c;
}

.gameSpace{
  width: 960px;
  height: 550px;
  background-image: url("../images/ile4.jpg");
  background-size: 104%;
  margin: 10px auto 40px auto;
}

.wordSpace{
  display: flex;
  justify-content: space-between;
  margin: 355px 10px 200px auto;
  width: 500px;

}

ul.divLetter{
  width: 400px;
  display: flex;
}

li.txtLetter{
  color: #c6b54f;
  font-size: 20px;
  flex-wrap: wrap;
  background-color: #c6b54f;
  width: 20px;
  height: 25px;
  border: 2px solid #9b9042;
  padding: 0px 5px;
}

li.txtLetter.display{
  background-color: #9b9042;
}

.newGame{
  position:fixed;
  top:20px;
  left:20px;
  font-size:18px;
  color: #000;
}

footer{
  background-color: #000;
  height: 130px;
  margin: 0 auto;
}

.txtBloc{
  padding : 40px 5px;
  font-size: 13px;
  color: #DDD;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
  justify-content: space-between;
}

#replay{
  background-color: #000;
  color: #fff;
  border-radius: 40px;
  padding: 10px;
  margin: 20px;
  font-size: 20px;
}

.levelBLoc{
  width: 960px;
  display: flex;
  justify-content: space-around;
  background-image: url("../images/pancartes-bois.jpg");
  border-radius: 10px;
  margin: 10px 0px 0px 0px;
}

#level1, #level2, #level3{
  width: 75px;
  margin: 0 50px;
}

#levelImage1, #levelImage2, #levelImage3{
  width: 110%;
}

#txtLevel1, #txtLevel2, #txtLevel3{
  color: white;
  width: 60px;
  font-size: 12px;
  background: black;
  text-align: center;
  margin: 10px 0px;
  padding: 5px;
}

.levelImage{
  width: 150%;
  margin: 10px 0px;
}

img.bateauNav{
  position: absolute;
  left : 0px ;
  z-index: -1;
  width: 250px;
  height:250px;
}
